@import 'nib'

font-family = "sans-serif"

link-border()
  border-bottom 1px solid rgba(#fff, 0.5)

link-border-hover()
  border-color #fff

html
  margin 0
  padding 0

  background-color #efefef

  color #fff
  font normal 100%/1.4 unquote(font-family)

body
  margin 0
  padding 0

.ir
  overflow hidden

  text-indent 100%
  white-space nowrap

.flex-img
  display block
  width 100%

.MR-1em
  margin-right 1em

a
a:link
a:visited
  link-border()

  color #fff
  text-decoration none

a:hover
a:focus
a:active
  link-border-hover()

.btn
  display inline-block
  padding 0.7em 0.9em 0.65em

  border 2px solid rgba(#fff, 0.5)
  border-radius 0.5em

.btn__arrow
  display inline-block
  margin 0 0 0 0.4em
  vertical-align text-top

  color rgba(#fff, 0.7)
  font-size 1.125rem
  line-height 1

.btn:hover
.btn:focus
.btn:active
  border-color #fff

  .btn__arrow
    color #fff

.main
  margin 3em auto
  overflow hidden
  padding 3.5em 0
  width 34em

.main__content
  padding 2.7em 2em
  position relative

  background-color #00673e

.main__content:before
.main__content:after
  display block
  height 4em
  left -10%
  position absolute
  top -2em
  width 120%

  background-color #00673e
  transform rotate(5deg)

  content ""

.main__content--alt
.main__content--alt:before
.main__content--alt:after
  background-color #999

.main__content:after
  bottom -2em
  top auto

.logo-link
.logo-link:link
.logo-link:hover
  display block
  width 18em

  border 0

.college
  display block
  font-weight normal

.wrapper
  padding-left 8.5em

.title
  margin 2.4em 0 2.4em
  width 15em

  font-size 1.125em

.intro
.social
  margin 0 0 2.8em

.social
  position absolute
  right 25.7em
  top 16.4em
  width 70px

  text-align right

.list-group
  padding 0

  list-style-type none

.list-group__item
  display block

.list-group__item--inline
  display inline-block

.btn-list__item
  margin-bottom 0.8em

.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align middle

.i--16
  height 16px
  width 16px

.i--32
  height 32px
  width 32px

.icon__label
  display inline
  vertical-align middle

.icon-link
.icon-link:link
.icon-link:visited
  display block

  border 0

  .icon__label
    link-border()

.icon-link:hover
.icon-link:focus
.icon-link:active
  opacity 1

  .icon__label
    link-border-hover()

.i--location
  background-image embedurl("../img/icons/i-location.svg")

.i--calendar
  background-image embedurl("../img/icons/i-calendar.svg")

.i--twitter
  background-image embedurl("../img/icons/i-twitter.svg")

.i--twitter-bright
  background-image embedurl("../img/icons/i-twitter-bright.svg")

.i--facebook-bright
  background-image embedurl("../img/icons/i-facebook-bright.svg")

.i--youtube
  background-image embedurl("../img/icons/i-youtube.svg")

.i--canvas
  background-image embedurl("../img/icons/i-canvas.svg")

.i--github
  background-image embedurl("../img/icons/i-github.svg")

.gradshow-list
  display block

.gradshow
  margin-bottom 2.8em

pad = 0.6em
imgsize = 6.25em

.gradshow__link
.gradshow__link:link
.gradshow__link:visited
  display block
  min-height imgsize - pad
  overflow hidden
  padding-bottom pad
  padding-top pad
  position relative

  border 0
  border-radius 0.5em

.gradshow__img
  left pad
  position absolute
  top pad
  width imgsize - pad

.gradshow__year
.gradshow__arrow
  font normal 1.125rem/1.4 unquote(font-family)

.gradshow__arrow
  margin-top -1rem
  position absolute
  right pad
  top 50%

  transform scaleX(0.75)

  font-size 2rem

.gradshow__title
  margin -0.5em 0 0
  position absolute
  top 50%

  font-size 3.75rem
  font-weight normal
  line-height 1

.gradshow__details
  margin-top 0.8em

.gradshow__date
  display block
  margin-bottom 0.4em

.loc
.loc:link
.loc:visited
  display inline-block
  margin-bottom 0.4em

.loc__name
  display inline-block

.loc__adr
  display inline-block
  margin 0

.loc__mailing
  display none
