@import 'nib'

html
  margin 0
  padding 0

  background-color #efefef

  color #fff
  font normal 100%/1.4 sans-serif

body
  margin 0
  padding 0

.ir
  overflow hidden

  text-indent 100%
  white-space nowrap

a
  border-bottom 1px solid rgba(#fff, 0.5)

  color #fff
  font-weight bold
  text-decoration none

a:hover
a:focus
a:active
  border-bottom-color #fff

.btn
  display inline-block
  padding 0.7em 0.9em 0.65em

  border 2px solid rgba(#fff, 0.5)
  border-radius 0.5em

.btn-arrow
  display inline-block
  margin 0 0 0 0.4em
  vertical-align text-top

  color rgba(#fff, 0.7)
  font-size 1.125rem
  line-height 1

.btn:hover
.btn:focus
.btn:active
  border-color #fff

  .btn-arrow
    color #fff

.main
  margin 3em auto
  overflow hidden
  padding 3.5em 0
  width 34em

.main-content
  padding 2.7em 2em
  position relative

  background-color #00673e

.main-content:before
.main-content:after
  display block
  height 4em
  left -10%
  position absolute
  top -2em
  width 120%

  background-color #00673e
  transform rotate(5deg)

  content ""

.main-content:after
  bottom -2em
  top auto

.logo
  display block
  width 18em

.college
  display block

.text
  padding-left 8.5em

.title
  margin 2.4em 0 2.4em
  width 15em

  font-size 1.125em

.intro
.social
  margin 0 0 2.8em

.social
  position absolute
  right 25.7em
  top 16.4em
  width 70px

  text-align right

.list-group
  padding 0

  list-style-type none

.list-group-item
  display block

.list-group-item-inline
  display inline-block

.btn-list-item
  margin-bottom 0.8em

.icon
  display inline-block

  background transparent none no-repeat center center
  background-size contain

  vertical-align middle

.i-16
  height 16px
  width 16px

.i-32
  height 32px
  width 32px

.icon-link
  display block

  border 0
  opacity 0.9

  color #66f
  text-decoration none

.icon-link:hover
.icon-link:focus
.icon-link:active
  opacity 1

.i-twitter
  background-image embedurl("../img/i-twitter.svg")

.i-youtube
  background-image embedurl("../img/i-youtube.svg")

.i-canvas
  background-image embedurl("../img/i-canvas.svg")

.i-github
  background-image embedurl("../img/i-github.svg")

