ac-green = #00673e
ac-green-new = #94c947
ac-teal-dark = #00675a
ac-teal-light = #009aa6
ac-blue = #007096
ac-orange = #eaab00
ac-grey = #63666a

// Common media queries
mw19 = "only screen and (min-width: 19em)"
mw25 = "only screen and (min-width: 25em)"
mw32 = "only screen and (min-width: 32em)"
mw38 = "only screen and (min-width: 38em)"
mw44 = "only screen and (min-width: 44em)"
mw60 = "only screen and (min-width: 60em)"
mw85 = "only screen and (min-width: 85em)"
mw115 = "only screen and (min-width: 115em)"
