.faculty-imgs
  margin 0 -2px 1.4em
  overflow hidden
  padding 0
  position relative

  list-style-type none
  white-space nowrap

  @media mw32
    margin-bottom 2em
    margin-top 2em

  @media mw38
    margin-bottom 2.8em
    margin-top 2.8em

.faculty-imgs:after
  bottom 0
  content " "
  position absolute
  right 0
  top 0
  width 18px

  background-image linear-gradient(right, #fff, rgba(255,255,255,0))

.faculty-imgs__person
  display inline-block
  margin 0 2px
  max-width 120px
  width 26%

  background-color #ccc

  @media mw25
    width 20%

  @media mw38
    width 16%

  @media mw60
    width 12%

  > img
    display block
    width 100%
