.masthead
  margin 0
  padding 0
  position relative

  background-color ac-green

.masthead__wrapper
  position relative

.logo
  float left
  margin 0
  padding 0

  font-size 1rem

.logo__link
.logo__link:link
.logo__link:visited
  display block
  height 30px
  margin 5px 0 5px 4px
  overflow hidden
  width 105px

  background transparent embedurl("../img/ac-graphic-design-logo-small.svg") no-repeat left top
  border 0
  background-size contain

  text-indent 100%
  white-space nowrap

.logo__link:focus
  box-shadow 0 0 0 2px #fff
  outline 0

.no-boxshadow .logo__link:focus
  outline 2px solid #fff

