.program
  padding 1.875em 8px 5.5em

  background transparent url("http://placehold.it/640x640/666666&text=%20") no-repeat center center
  background-size cover

  color #fff

  @media mw19
    padding-left 0
    padding-right 0

  @media mw38
    padding-bottom 7.5em

  @media mw60
    padding-bottom 8.5em

  @media mw85
    padding-bottom 10.5em

.program__title
  margin 0
  padding 0

  font 600 3.5rem/1 "Source Sans Pro",Arial,sans-serif;
  text-align left

  @media mw32
    font-size 3.8rem

  @media mw38
    font-size 4rem

  @media mw44
    font-size 4.5rem

  @media mw60
    font-size 5.5rem

.wf-active .program__title
  font-size 3.7rem

  @media mw32
    font-size 4.3rem

  @media mw38
    font-size 4.6rem

  @media mw44
    font-size 5rem

  @media mw60
    font-size 6rem

.program__intro
  margin 0.8em 0 0 0
  max-width 34em
  padding 0 0.2em
