<ul>
  {% include nav-link.html url="/" match="/" title="Program" desc="Ontario College Graphic Design Course" showdesc=include.showdesc %}
  {% include nav-link.html url="/faculty/" match="faculty" title="Faculty" desc="Teachers, Professors & Faculty Members" showdesc=include.showdesc %}
  {% include nav-link.html url="/curriculum/" match="curriculum" title="Curriculum" desc="Courses, Classes, Prerequisites & Curriculum" showdesc=include.showdesc %}
  {% include nav-link.html url="http://grads.algonquindesign.ca" match="grads" title="Grads" desc="Students, Grad Shows & Graduates" showdesc=include.showdesc %}
  {% include nav-link.html url="/start-applying/" match="start-applying" title="Start Applying" desc="Portfolio Requirements & Application Process" showdesc=include.showdesc %}
</ul>
